name: CI

on: [push]

jobs:
 sast_scan:
   name: Run ESLint Security Scan
   runs-on: ubuntu-latest

   steps:
   - name: Checkout code
     uses: actions/checkout@v4

   - name: Set up Node.js
     uses: actions/setup-node@v4
     with:
       node-version: '18'
       cache: 'npm'

   - name: Install dependencies
     run: npm ci

   - name: Run ESLint Security
     run: npx eslint . --ext .js,.jsx,.ts,.tsx --format json --output-file eslint-report.json
     continue-on-error: true

   - name: Upload Artifact
     uses: actions/upload-artifact@v4
     if: always()
     with:
      name: eslint-findings
      path: eslint-report.json

 image_scan:
   name: Build Image and Run Image Scan
   runs-on: ubuntu-latest

   steps:
   - name: Checkout code
     uses: actions/checkout@v4

   - name: Set up Docker Buildx
     uses: docker/setup-buildx-action@v3

   - name: Build Docker Image
     run: docker build -f Dockerfile -t wolfix1245/landing:latest .

   # - name: Docker Scout Scan
     # run: |
       # curl -fsSL https://raw.githubusercontent.com/docker/scout-cli/main/install.sh -o install-scout.sh
       # sh install-scout.sh
       # echo ${{ secrets.REPO_PWD }} | docker login -u ${{ secrets.REPO_USER }} --password-stdin
       # docker scout quickview
       # docker scout cves

   - name: Docker Scout Scan
     uses: docker/scout-action@v1.0.9
     with:
       dockerhub-user: ${{ secrets.DOCKER_USERNAME }}
       dockerhub-password: ${{ secrets.DOCKER_PASSWORD }}
       command: quickview,cves
       only-severities: critical,high
       sarif-file: scout-report.sarif

   - name: Upload Artifact
     uses: actions/upload-artifact@v4
     if: always()
     with:
       name: docker-scout-findings
       path: scout-report.sarif